<section class=" w-full flex flex-col p-[20px] box-border bg-[#ffffff] h-screen gap-[10px]">
    <div class=" w-full flex flex-row justify-between bg-white border rounded-[10px] p-[20px] box-border">
        <div class=" w-full flex flex-row items-center">
            <span class=" text-[20px]">Item Management</span>
        </div>
        <div class=" w-full flex justify-end items-center">
            <button class=" bg-[#312E2D] h-[40px] pl-[24px] pr-[24px] box-border text-white rounded-[20px]"
                routerLink="/dashboard/item/add">New Product</button>
        </div>
    </div>

</section>